<div class="pop-window ui-corner-all">
    <div class="pop-window-box clearfix">
        <div class="pop-window-box-inner">
            <div class="pop-window-title-content" >
                <div class="pop-window-title" >
                    <div class="float_left title_box"></div>
                    <div class="clearfix float_right title-buttons">
                        <div class="pull-right close" ng-click="closeWindow($event)"></div>
                        <div class="pull-right maximize" ng-click="maximizeWindow($event)"></div>
                        <div class="pull-right restore" ng-click="restoreWindow($event)"></div>
                    </div>
                </div>
            </div>
            <div class="pop-window-content" >
                <div class="pop-window-content-inner">
                    <div class="pop-window-content-inner-box">
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>