<div class="pop-window ui-corner-all">
    <div class="pop-window-box clearfix">
        <div class="pop-window-box-inner">
            <div class="pop-window-title-content" >
                <div class="pop-window-title" >
                    <div class="float_left title_box"></div>
                    <div class="relative float_right close_maximize">
                        <div class="float_right">
                            <div class="close" ng-click="closeWindow($event)"></div>
                        </div>
                        <div class="float_right">
                            <div class="maximize"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop-window-content" >
                <div class="pop-window-content-inner">
                    <div class="pop-window-content-inner-box">
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                        adfaslkdfj asdfkljasdf af adfas
                        asdfjlaksjdflkasdf
                        hfkajsdhfaksdf
                        a skjdfhaskjdf asdf
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>