<div class="desktop_bottom_bar">
    <div class="desktop_bottom_bar_content">
        <div class="button start" ><div class="button_text"><span>{{ "Start" | trans }}</span></div></div>
        <div class="task_bar"></div>
        <div class="clock"></div>
        <div class="btn_logout"></div>
        <div class="version">0.0.1</div>
    </div>
</div>